@{
    ViewData["Title"] = "Jugadores";
}
@model List<TransferMarket.Models.Jugador>;

<div class="text-center">
    <h1 class="display-4">¡Estos son Nuestros Jugadores!</h1><br>


    <div class="container">
        <br><hr><br>
        <div class="d-flex flex-wrap justify-content-center gap-3">
            @foreach (var jugador in Model)
            {
                <div class="card" style="width: 18rem;">
                    <img src="@jugador.Imagen" class="card-img-top" style="height: 375px; object-fit: cover;"
                        alt="@jugador.NombreCompleto">
                    <div class="card-body text-center" style="color: black;">
                        <h5 class="card-title">@jugador.NombreCompleto</h5>
                        <p class="card-text">
                            <span>@jugador.Posicion</span><br>
                            @jugador.Nacionalidad
                            <span>@jugador.Valor</span><br>
                        </p>        
                    </div>
                </div>
            }
        </div>
    </div>
</div>