@{
    ViewData["Title"] = "Jugadores";
}
@model TransferMarket.Models.Jugador

<div class="text-center">
    <h1 class="display-4">¡Nuevo Jugador</h1><br>

    <form asp-controller="Jugador" asp-action="Nuevo" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="validationDefault01" class="form-label">Nombre Completo</label>
            <input type="text" class="form-control" asp-for="@Model.NombreCompleto" id="validationDefault01" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault03" class="form-label">Imagen</label>
            <input type="url" class="form-control" asp-for="@Model.Imagen" id="validationDefault03" required
                placeholder="Ingresa la Url de la imagen del Jugador">
        </div>
        <div class="col-md-6">
            <label for="validationDefault04" class="form-label">Posicion</label>
            <select class="form-select" asp-for="@Model.Posicion" id="validationDefault04" required>
                <option selected disabled>Elige...</option>
                <option value="Portero">Portero</option>
                <option value="Defensa Central">Defensa Central</option>
                <option value="Lateral Derecho">Lateral Derecho</option>
                <option value="Lateral Izquierdo">Lateral Izquierdo</option>
                <option value="Centrocampista Defensivo">Centrocampista Defensivo</option>
                <option value="Centrocampista Ofensivo">Centrocampista Ofensivo</option>
                <option value="Extremo Derecho">Extremo Derecho</option>
                <option value="Extremo Izquierdo">Extremo Izquierdo</option>
                <option value="Delantero Centro">Delantero Centro</option>
                <option value="Delantero Segundo">Delantero Segundo</option>
                <option value="Mediocentro">Mediocentro</option>
                <option value="Interior Derecho">Interior Derecho</option>
                <option value="Interior Izquierdo">Interior Izquierdo</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="validationDefault03" class="form-label">Nacionalidad</label>
            <input type="text" class="form-control" asp-for="@Model.Nacionalidad" id="validationDefault03" required>
        </div>
        <div class="col-md-6">
            <label for="validationDefault03" class="form-label">Valor en el Mercado</label>
            <input type="number" class="form-control" asp-for="@Model.Valor" id="validationDefault03" required>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Guardar Jugador</button>
            <a class="btn btn-secondary" asp-asp-controller="Jugador" asp-action="Lista">Volver</a>
        </div>
    </form>


</div>